body{
    margin: 0;
    padding: 0;
}

header{
    background-color:#5D7580;
    margin-top: -4px;
    width: 100%;
    height: 35px;
 
}

nav {
    color: white;
    display: -webkit-flex;
    display: flex;
    font-size: 20px;
}

nav ul {
    list-style: none;
}

nav li{
    float: left;
    margin-top: -10px;
    margin-left: 115px;
    
}

nav a{
    text-decoration: none;
    color: white;
}

nav ul li span {
	margin-right:10px;
}

.icon-tool{
    margin-left: 10px;
}

.img-presentacion{
    position: absolute;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.about-us{
    color:rgb(187, 0, 0);
    text-align: center;
    position: relative;
    font-size: 30px;
}

.about{
    color: rgb(187, 0, 0);
    text-align: center;
    position: relative;
    font-size: 30px;
    margin-bottom: -27px;
}

footer{
    bottom: 0;
    background: #202020;
    width: 100%;
    height: auto;
    font-family: sans-serif;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    display:inline-flex;
    display: -webkit-flex;
    display: flex;
    left: 0;
    right: 0;
    font-size:15px;
    flex-wrap: wrap;
    position:relative;
}

.Colum1{
    width: 500px;
}

.colum1 h1{
    margin-left: 40px;
    width:410px;
}

.colum1 a:hover{
    text-decoration:underline;
    text-decoration-color: red;
}

.NavDirection li {
list-style: none;
margin-bottom: 10px;
font-size: 20px;
}

.NavDirection a{
    text-decoration: none;
}

.colum2{
    width: 400px;
}

.colum2 h1{
    width: 300px;
    margin-left: 50px;
}

.colum2 ul{
    list-style: none;
    margin-bottom:10px;
    margin-left: 10px;
    font-size: 20px;
}

.colum2 li label{
    margin-left: 10px;

}

.colum2 li{
    margin-bottom: 15px;
}

.colum2 a:link{
    color: cadetblue;
}

.colum3{
    width: 400px;
}

.colum3 h1{
    margin-left: 150px;
}
.colum3 li{
    list-style: none;
    margin-bottom: 10px;
}

.colum3 a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 150px;

}

.colum3 a:hover{
    text-decoration:underline;
    text-decoration-color: red;
}

.copyrights{
    font-size: 20px;
    margin-left: 500px;
}

.rights{
    font-size: 20px;
    margin-top: -30px;
    margin-left: 500px;
}

#contenedor{
   display: flex;
   display: -webkit-flex;
   width: 100%;
   height: 300px;
   padding: 0;
   margin: 0;
   top: 0;
}

.Tanix{
    width: 500px;
    display: flex;
    display: -webkit-flex;
}

.Tanix img{
    width: 500px;
    margin: 5px;
}

.item {
    min-height: 100px;
    width: 325px; 
    height: 300px;
    margin-top: -8px;
    margin-left: 20px;
}

.item ul{
    list-style: none;
    width: 300px;
    padding: 0;
    top: -500px;
}

.item li{
    -webkit-align-self: center;
    align-self: center;
    width: 300px;
    color: rgb(187, 0, 0);
    margin-bottom: 10px;
    float: right;
}

.item2{
    width: 500px;
    margin: 5px;
    padding: 0;
}

.item2 img{
    float: right;
    margin-left: -500px;
}

section{
    background-color: royalblue;
}

.Videos iframe{
   margin: 6px; 
}
